body{
    background-color: #E7DBBB;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.headline{
    margin-top: 2%;
    text-align: center;
    font-size: 56px;
    font-family:'American Typewriter', sans-serif;
}

@font-face {
    font-family: digital;
    src: url(digital-7.regular.ttf);
}

.calculator{
    border: solid 3px black;
    width: 25em;
    height: 40em;
    margin-top: 5em;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #232B2B;
    box-shadow: 0px 0px 2px 2px;
}

.display{
    margin-top: 7%;
    min-width:87%;
    min-height: 20%;
    border: solid 2px black;
    border-radius: 15px;
    background-color: #666E6F;
    box-shadow: inset 0px 0px 2px 2px;
    font-family:digital;
    position:relative;

}

.display .bottom {
    margin-bottom: 9%;
    margin-right: 5%;
    position:absolute;
    bottom:0;
    right:0;
    font-size: 45px;
    max-width: 90%;
    max-height:32%;
}

.display .topp{
    margin-top: 4%;
    position: absolute;
    top:0;
    right:0;
    margin-right: 5%;
    font-size: 30px;
    max-width: 90%;
    max-height:32%;
}

.top-buttons{
    margin-top: 6%;
    height: 12%;
    width:87%;
    display: flex;
    justify-content: space-between;
}

.top{
    width: 48%;
    border-radius: 8px;
    border: solid 2px black;
    box-shadow: inset 0px 0px 1px 1px;
    background-color: #AFB1A8;
    font-size: 32px;
}


.top:hover {
    background-color: #C7C8C2;
}

.top:active{
    transform: scale(0.98);
}

.numbers{
    margin-top: 6%;
    width:85%;
    height: 53%;
    display: flex;
    flex-wrap: wrap;
}
.number{
    flex: 1 0 20%;
    margin: 6px;
    border: solid 4px black;
    border-radius: 100%;
    font-size: 24px;
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.number:hover{
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
}

.number:active{
    transform: scale(0.98);
}

.operator, .equals{
    flex: 1 0 20%;
    margin: 6px;
    border: solid 4px black;
    border-radius: 100%;
    font-size: 24px;
    font-weight: bold;
}

.operator, .equals:hover{
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
}

.operator, .equals:active{
    transform: scale(0.98);
}

