body{
    background-color: #E7DBBB;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.headline{
    margin-top: 2%;
    text-align: center;
    font-size: 56px;
    font-family:'American Typewriter', sans-serif;
}

.calculator{
    border: solid 3px black;
    width: 25em;
    height: 40em;
    margin-top: 5em;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #232B2B;
    box-shadow: 0px 0px 2px 2px;
}

.display{
    margin-top: 9%;
    width:87%;
    height: 17%;
    border: solid 2px black;
    border-radius: 15px;
    background-color: #666E6F;
    box-shadow: inset 0px 0px 2px 2px;
}

.top-buttons{
    margin-top: 6%;
    height: 12%;
    width:87%;
    display: flex;
    justify-content: space-between;
}

.top{
    width: 48%;
    border-radius: 8px;
    border: solid 2px black;
    box-shadow: inset 0px 0px 1px 1px;
    background-color: #AFB1A8;
    font-size: 32px;
}


.top:hover {
    background-color: #C7C8C2;
}

.top:active{
    transform: scale(0.98);
}

.numbers{
    margin-top: 6%;
    width:85%;
    height: 53%;
    display: flex;
    flex-wrap: wrap;
}
.number{
    flex: 1 0 20%;
    margin: 8px;
    border: solid 2px black;
    border-radius: 100%;
    box-shadow: inset 0px 0px 2px 2px;
    font-size: 24px;
    font-weight: bold;
}

.number:hover{
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
}

.number:active{
    transform: scale(0.98);
}